flows_8.json
[{"id":"a9b8f7f0.5f5378","type":"tab","label":"Flow 18","disabled":false,"info":""},{"id":"6efc78b5.3f38a8","type":"ui_gauge","z":"a9b8f7f0.5f5378","name":"","group":"7f2cee22.3f597","order":5,"width":0,"height":0,"gtype":"gage","title":"Title of Gauge1","label":"degrees C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":480,"y":460,"wires":[]},{"id":"7536cfe1.9b98c","type":"ui_button","z":"a9b8f7f0.5f5378","name":"","group":"7f2cee22.3f597","order":1,"width":2,"height":1,"passthru":false,"label":"","tooltip":"","color":"red","bgcolor":"","className":"","icon":"mi-man","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":90,"y":60,"wires":[["41ccbe06.be845"]]},{"id":"a910f566.0b8e98","type":"ui_button","z":"a9b8f7f0.5f5378","name":"","group":"7f2cee22.3f597","order":2,"width":2,"height":1,"passthru":false,"label":"HELLO","tooltip":"","color":"blue","bgcolor":"","className":"<i class=\"fa fa-female\" aria-hidden=\"true\"></i>","icon":"mi-woman","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":360,"y":100,"wires":[[]]},{"id":"6ef90d66.4fbaa4","type":"ui_button","z":"a9b8f7f0.5f5378","name":"","group":"7f2cee22.3f597","order":3,"width":1,"height":1,"passthru":false,"label":"","tooltip":"","color":"blue","bgcolor":"","className":"","icon":"twitter","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":510,"y":100,"wires":[[]]},{"id":"b206f603.1af838","type":"ui_button","z":"a9b8f7f0.5f5378","name":"","group":"7f2cee22.3f597","order":4,"width":1,"height":1,"passthru":false,"label":"","tooltip":"","color":"green","bgcolor":"","className":"","icon":"fa-car","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":650,"y":100,"wires":[[]]},{"id":"8e92d276.17b93","type":"ui_numeric","z":"a9b8f7f0.5f5378","name":"","label":"numeric","tooltip":"","group":"7f2cee22.3f597","order":7,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"topic","topicType":"msg","format":"{{value}}","min":0,"max":"100","step":1,"className":"","x":260,"y":260,"wires":[["6efc78b5.3f38a8","2cd4747d.1b6c8c"]]},{"id":"e07ecbd.11a9038","type":"ui_slider","z":"a9b8f7f0.5f5378","name":"","label":"SLIDE ME","tooltip":"","group":"7f2cee22.3f597","order":8,"width":0,"height":0,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":"100","step":1,"className":"","x":90,"y":380,"wires":[["6efc78b5.3f38a8","8e92d276.17b93","2cd4747d.1b6c8c"]]},{"id":"e4c0af70.db497","type":"ui_dropdown","z":"a9b8f7f0.5f5378","name":"","label":"Select an Option","tooltip":"","place":"Select option","group":"7f2cee22.3f597","order":9,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":270,"y":160,"wires":[[]]},{"id":"1617409f.50fc7f","type":"ui_text","z":"a9b8f7f0.5f5378","group":"7f2cee22.3f597","order":6,"width":0,"height":0,"name":"","label":"Stuff","format":"{{msg.payload}}","layout":"row-spread","className":"","x":650,"y":380,"wires":[]},{"id":"f6583ec9.20474","type":"ui_slider","z":"a9b8f7f0.5f5378","name":"","label":"slider2","tooltip":"","group":"16e9355d.878adb","order":2,"width":0,"height":0,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":"100","step":1,"className":"","x":690,"y":260,"wires":[["3f9a7fff.968c5"]]},{"id":"ae6834a0.4633c8","type":"ui_slider","z":"a9b8f7f0.5f5378","name":"","label":"slider1","tooltip":"","group":"16e9355d.878adb","order":1,"width":0,"height":0,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":"100","step":1,"className":"","x":670,"y":180,"wires":[["3f9a7fff.968c5"]]},{"id":"6e99386d.e3a2d8","type":"ui_slider","z":"a9b8f7f0.5f5378","name":"","label":"slider3","tooltip":"","group":"16e9355d.878adb","order":3,"width":0,"height":0,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":"100","step":1,"className":"","x":710,"y":320,"wires":[["3f9a7fff.968c5"]]},{"id":"3f9a7fff.968c5","type":"ui_gauge","z":"a9b8f7f0.5f5378","name":"","group":"16e9355d.878adb","order":4,"width":0,"height":0,"gtype":"donut","title":"Title of Gauge3","label":"degrees C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":920,"y":280,"wires":[]},{"id":"9a5acf1a.ac346","type":"ui_colour_picker","z":"a9b8f7f0.5f5378","name":"","label":"Pick me!","group":"16e9355d.878adb","format":"hex","outformat":"string","showSwatch":true,"showPicker":false,"showValue":false,"showHue":false,"showAlpha":false,"showLightness":true,"square":"false","dynOutput":"false","order":6,"width":0,"height":0,"passthru":true,"topic":"topic","topicType":"msg","className":"","x":780,"y":480,"wires":[["3f9a7fff.968c5"]]},{"id":"565cd899.935fb8","type":"ui_dropdown","z":"a9b8f7f0.5f5378","name":"","label":"Numeric dropdown","tooltip":"","place":"Select option","group":"16e9355d.878adb","order":5,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"","value":1,"type":"num"},{"label":"","value":"2","type":"str"},{"label":"","value":"3","type":"str"},{"label":"","value":"4","type":"str"},{"label":"","value":"5","type":"str"},{"label":"","value":"6","type":"str"},{"label":"","value":"7","type":"str"},{"label":"","value":"8","type":"str"},{"label":"","value":"9","type":"str"},{"label":"","value":"10","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":870,"y":200,"wires":[["3f9a7fff.968c5"]]},{"id":"2aa1d16e.3339ee","type":"ui_switch","z":"a9b8f7f0.5f5378","name":"","label":"Fire","tooltip":"","group":"7f2cee22.3f597","order":11,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-toggle-on","oncolor":"green","offvalue":"false","offvalueType":"bool","officon":"fa-toggle-off","offcolor":"red","animate":false,"className":"","x":110,"y":480,"wires":[["6efc78b5.3f38a8"]]},{"id":"41ccbe06.be845","type":"mqtt out","z":"a9b8f7f0.5f5378","name":"","topic":"CP","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9796da3cd13cc436","x":250,"y":60,"wires":[]},{"id":"2cd4747d.1b6c8c","type":"ui_text","z":"a9b8f7f0.5f5378","group":"7f2cee22.3f597","order":10,"width":0,"height":0,"name":"","label":"slide","format":"{{msg.payload}}","layout":"row-spread","className":"","x":450,"y":380,"wires":[]},{"id":"7f2cee22.3f597","type":"ui_group","name":"First","tab":"10a978e.c50e287","order":1,"disp":true,"width":6,"collapse":false,"className":""},{"id":"16e9355d.878adb","type":"ui_group","name":"Second","tab":"71390eb.5f501f","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"9796da3cd13cc436","type":"mqtt-broker","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"10a978e.c50e287","type":"ui_tab","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"71390eb.5f501f","type":"ui_tab","name":"Tab 2","icon":"dashboard","order":2}]